.products-type-products {
    display: flex;
}

.products-type.banner-carousel {
    width: 100%;
}

.banner.products-type {
    height: 350px;
    margin: 12px;
}

.carousel-wrap.products-type {
    height: 100%;
    margin: 0;
}
.carousel-slide.products-type {
    height: 100%;
}

.products-type.carousel-item-link {
    height: 350px;
}