.products-type,
.product-page,
.cart-page {
    position: relative;
}
.header__search--cart-page {
    color: var(--white-color);
    font-size: 2rem;
    padding: 2px;
    margin-right: 12px;
}
.navbar__list--item.hide {
    display: none;
}
.navbar__list--item.show {
    display: flex;
}

.header__cart {
    a {
        position: relative;
        z-index: 10;
    }
}
.header_cart-numbers-carts.hide {
    display: none;
}
.header_cart-numbers-carts.show {
    display: block;
}
.header__cart-list-items-btn {
    background-color: rgba(68, 67, 66, 0.5);
    border-radius: 3px;
}
.header__cart-item {
    cursor: text;
}
.header__cart-list.header__cart-no-cart {
    top: calc(150%);
    right: -5.5%;
}
.header__cart-list.header__cart-has-carts {
    right: -8.5%;
    top: 150%;
}

.header__cart {
    &.hide {
        display: none;
    }
}

.header__cart-wrap {
    &::after {
        position: absolute;
        content: "";
        top: -4px;
        right: 0;
        width: 25px;
        height: 50px;
        padding: 16px;
        background-color: transparent;
        // z-index: 10;
        cursor: pointer;
    }
}
.header__cart-list {
    transform-origin: top right 8px;
    transition: display 2s, opacity 0.5s linear, transform 0.3s linear;
    animation: appear 0.2s linear;
    display: none;

}
.header__cart-wrap:hover .header__cart-list {
    display: block;
}

@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }
    50% {
        transform: scale(0.5);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes appear1 {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(0.5);
        opacity: 0.7;
    }
    100% {
        transform: scale(0);
        opacity: 1;
    }
}
