.App {
    position: relative;
    /* overflow: hidden; */
}
.no-padding {
    padding: 0 !important;
}
.home-product {
    padding-left: 10px;
}


@media (max-width: 600px) {
    .sale-now {
        display: none;
    }
}
